<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPAC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/purchase.css">
    <!--icons api-->
    <a href="https://icons8.com/icon/3260/sell"></a>
    <script src="https://kit.fontawesome.com/087042e108.js" crossorigin="anonymous"></script>
    <!--Jquery cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Animate CSS-->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
</head>
<body>
    <!--Home Section-->
    <section id="home-form">
        <!--Navbar-->
        <nav id="navbar">
            <ul>
                <li class="logo">MPAC</li>
                <li class="items"><a href="/home">Home</a></li>
                <li class="items"><a href="/dashboard">Dashboard</a></li>
                <li class="items"><a href="/about">About Us</a></li>
                <li class="items"><a href="/contact">Contact Us</a></li>
                <li class="items"><a href="/logout">Logout</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
        <!--Product Display-->
        <div class="container animate__animated animate__fadeIn">
            <% if(typeof books != 'undefined') { %>
                <% books.forEach(function(data){ %>
                    <div class="req-container">
                        <div class="text">
                            <h3>Request Book: </h3>
                            <h4>Year: <%= data.year %></h4>
                            <h4>Subject: <%= data.subject %> </h4>
                        </div>
                    <form action="request" class="req-form">
                        <input type="hidden" name="rb_id" value="<%= data.rb_id %>" />
                        <input type="submit" value="Available Products" />
                        <input type="submit" formaction="/req-remove-book" value="Remove" />
                    </form>
                    </div>
                <% }) %>
            <% } %>
            <% if(typeof tools != 'undefined') { %>
                <% tools.forEach(function(data){ %>
                    <div class="req-container">
                        <div class="text">
                            <h3>Request Tool: </h3>
                            <h4>Branch: <%= data.branch %> </h4>
                        </div>
                    <form action="request" class="req-form">
                        <input type="hidden" name="rt_id" value="<%= data.rt_id %>" />
                        <input type="submit" value="Available Products" />
                        <input type="submit" formaction="/req-remove-tool" value="Remove" />
                    </form>
                    </div>
                <% }) %>
            <% } %>
            <% if(typeof calcs != 'undefined') { %>
                <% calcs.forEach(function(data){ %>
                    <div class="req-container">
                        <div class="text">
                            <h3>Request Calculator: </h3>
                            <h4>Type: <%= data.c_type %> </h4>
                        </div>
                    <form action="request" class="req-form">
                        <input type="hidden" name="rc_id" value="<%= data.rc_id %>" />
                        <input type="submit" value="Available Products" />
                        <input type="submit" formaction="/req-remove-book" value="Remove" />
                    </form>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </section>    
    <script src="/js/main.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src='/js/jquery.js'></script>
</body>
</html>