<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css" type="text/css"/>
  </head>
  <body>
    <div class="login-box">
      <h2>MPAC Register</h2>
      <form action="/register" method="POST">
        <div class="user-box">
          <input type="name" name="name" id="name"value="<%= typeof name != 'undefined' ? name : ''%>" required="" />
        <label>Name</label>
        </div>
        <div class="user-box">
          <input type="email" name="email" id="email" value="<%= typeof email != 'undefined' ? email : ''%>" required="" />
          <label>E-mail Id</label>
        </div>
        <div class="user-box">
          <input type="text" name="phno" id="phno" value="<%= typeof phno != 'undefined' ? phno : ''%>" required="" /> 
          <label>Phone No:</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" id="password" value="<%= typeof password != 'undefined' ? password : ''%>" required="" />
          <label>Password</label>
        </div>
        <div class="user-box">
          <input type="password" name="password2" id="password2" value="<%= typeof password2 != 'undefined' ? password2 : ''%>" required="" />          <label>Confirm Password</label>
        </div>
        <div  class="form-group">
          Already Registered &nbsp; &nbsp;<a href="/">Login</a>
        </div>
        <div class="login-btn">
          <button type="submit" class="btn btn-primary text-center">Register</button>
        </div>
      </form>
    </div>
  </body>
</html>


<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Register</h1>
          <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-3">
                  <form action="/register" class="form-container" method="POST">
                    <div class="form-group">
                      <ul>
                        <% if(typeof errors != 'undefined') { %>
                          <% errors.forEach(error =>{ %>
                            <li><%= error.message %></li>
                          <% }) %>  
                        <% } %>
                      </ul>
                        <label for="name">Name</label>
                      <input type="name" name="name" id="name" class="form-control" value="<%= typeof name != 'undefined' ? name : ''%>" 
                      placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail Id</label>
                      <input type="email" name="email" id="email" class="form-control " 
                      value="<%= typeof email != 'undefined' ? email : ''%>" placeholder="Enter E-mail id">
                    </div>
                    <div class="form-group">
                      <label for="phno">Phone No:</label>
                    <input type="text" name="phno" id="phno" class="form-control " 
                    value="<%= typeof phno != 'undefined' ? phno : ''%>" placeholder="Enter Phone No">
                  </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                      <input type="password" name="password" id="password" class="form-control " 
                      value="<%= typeof password != 'undefined' ? password : ''%>" placeholder="Enter Password">
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                      <input type="password" name="password2" id="password2" class="form-control " 
                      value="<%= typeof password2 != 'undefined' ? password2 : ''%>" placeholder="Confirm Password">
                    </div>
                    <div  class="form-group">
                        Already Registered &nbsp; &nbsp;<a href="/">Login</a>
                    </div>
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary text-center">Register</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
</body>
</html>
-->